

.container{
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  width: 40%;
  height:60%;
  background-color:white !important;
  border: 1px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.781);
}
.buttonContainer{
  bottom: 0;
  margin-bottom: 56px;
}
.button{
  float:right;

}
.todoPendingList{
  margin-left:25px;
  padding: 0;
  list-style-type: none;
}

.todoCompletedList{
  list-style-type: none;
}
